#channel-container {
    background-color: #1d1c1d;
    color: #D1D2D3D3;
    border: 1px solid #3a3a3ad3;
    border-width: thin;
    width: 15rem;
    min-width: 10rem;
}

#channelList-header {
    margin: 0;
    margin-left: 1.3rem;
    margin-bottom: 1rem;
}

#channelList {
    padding: 0;
}

.channelListItem {
    display: flex;
    list-style: none;
    margin-bottom: .4rem;
    margin-left: .5rem;
    margin-right: 0.4rem;
    padding: .2rem 1rem;
    border-radius: 5px;
}

.channelListItem:hover {
    cursor: pointer;
    background-color: #484949d3;
}

.channelHashtag {
    margin-right: .8rem;
}

.selected {
    outline: 2px solid gray;
}

.channel-title {
    position: fixed;
    color: white;
    background-color: rgb(47, 46, 47);
    padding: 1rem;
    right: 1.5rem;
    left: 18rem;
}

.ul-dropdown {
    display: flex;
    position: fixed;
    top: 3rem;
    left: 18rem;
    background-color: rgb(112, 112, 112);
    color: white;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
}
.ul-dropdown li {
    padding-left: 0;
}
.ul-channel {
    padding: .2rem .5rem;
}
