#channel-container {
    background-color: #1d1c1d;
    color: #d1d2d3d3;
    border: 1px solid #3a3a3ad3;
    border-width: thin;
    width: 15rem;
    min-width: 10rem;
}

#channelList-header {
    margin: 0;
    margin-left: 1.3rem;
    margin-bottom: 1rem;
}

#channelList {
    padding: 0;
}

#serverNameContainer {
    border-bottom: 1px solid #3a3a3ad3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.channelListItem {
    display: flex;
    list-style: none;
    margin-bottom: 0.4rem;
    margin-left: 0.5rem;
    margin-right: 0.4rem;
    padding: 0.2rem 1rem;
    border-radius: 5px;
}


.channelListItem:hover,
.workspace-dropdown button:hover,
.ul-dropdown button:hover {
  cursor: pointer;
  background-color: #484949d3;
}

.channelHashtag {
    margin-right: 0.8rem;
}

.selected {
    outline: 2px solid gray;
}

.channel-title {
    color: white;
    background-color: #1d1c1d;
    padding: 1rem;
    right: 1.5rem;
    left: 18rem;
    border-top: 1px solid #3a3a3ad3;
    border-right: 1px solid #3a3a3ad3;
    border-bottom: 1px solid #3a3a3ad3;
}

.ul-dropdown {
    display: flex;
    position: fixed;
    top: 5rem;
    left: 18rem;
    background-color: rgb(112, 112, 112);
    color: white;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
  display: flex;
  position: fixed;
  top: 5rem;
  left: 18rem;
  background-color: #1d1c1d;;
  color: white;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
}

.ul-dropdown li {
    padding-left: 0;
}

.ul-channel {
    padding: 0.2rem 0.5rem;
}

.ul-dropdown button {
  background-color: transparent;
  width: 100%;
  text-align: left;
  color: white;
  border: none;
  padding: 0.5rem;
  border-top: 1px solid rgba(250, 250, 250, 0.25);
  border-bottom: 1px solid rgba(250, 250, 250, 0.25);
}

.server-title {
    cursor: pointer;
}

#serverNameContainer:hover {
    background-color: rgb(119, 119, 119);
}

.channel-title {
    cursor: pointer;
}

.channel-title:hover {
    background-color: rgb(119, 119, 119);
}

.workspace-dropdown {
  padding: 0.5rem;
  width: 100%;
  box-sizing: border-box;
}

.workspace-dropdown ul {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  padding-left: 0;
}

.workspace-dropdown button {
  background-color: transparent;
  color: #d1d2d3d3;
  font-size: 1rem;
  border: none;
  padding: 0.5rem;
  width: 100%;
  text-align: left;
  border-radius: 0.25rem;
}