#mainSection {
    background-color: #F4EDE4;
}

#mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 76rem;
    margin: auto;
}

.mainBlock {
    display: flex !important;
    justify-content: space-between;
    margin: 5rem 0;
}

.videoPlaceHolder {
    background-color: #f5e3cc;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 600px;
}

.mainVideo {
    width: 500px;
}

.mainDescBlock {
    max-width: 30rem;
    height: 15rem;
}

.mainHeader {
    font-size: 3rem;
    margin: 0;
}

.mainDesc {
    font-size: 1rem;
}

.mainLink {
    color: #4285f4;
}