#signUpInfoSection {
    background-color: #541554;
}

#signUpContainer {
    background-color: #541554;
    height: 30rem;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 3rem;
    max-width: 76rem;
    margin: auto;
}

#signUpInfoContainer {
    max-width: 38rem;
}

#signUpInfoHeader {
    font-size: 4rem;
    margin: 0;
}

#signUpInfoHeader>span {
    color: #ecb22e;
}

.signUpInfoDesc {
    max-width: 35rem;
    font-size: 1.25rem;
    margin: 1rem 0;
}

#signUpGoogleLogo {
    width: 3rem;
    border-radius: 5px;
    margin-right: 5px;
}

#signUpButtonContainer {
    display: flex;
    align-items: center;
}

#signUpButton>a {
    background-color: white;
    color: #541554;
    margin-right: 20px;
    padding: 19px 40px 20px;
    border-radius: 3px;
    font-weight: bold;
    text-decoration: none;
}

#signUpGoogle>a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4285f4;
    color: white;
    padding: 4px 10px;
    border-radius: 3px;
    font-weight: bold;
    text-decoration: none;
}

#signUpGoogleLogoContainer {
    margin-right: 10px;
}

#signUpVideoContainer {
    height: 400px;
    width: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    object-fit: contain;
    /* overflow-clip-margin: content-box; */
    overflow: hidden;
    z-index: 1;
}

#signUpVideo {
    width: 600px;
    position: absolute;
    left: 0;
    right: 0;
}