#search-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 25rem;
  height: fit-content;
}

#search-bar {
  border-radius: 50px 0px 0px 50px;
  height: 20px;
  outline: none;
}

#search-button {
  border-radius: 0px 50px 50px 0px;
  text-align: center;
  height: 38px;
  width: 2rem;
  color: white;
  border: none;
  background-color: #541554;
}

#search-results-container {
  width: 80%;
  margin-top: 1rem;

  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
  grid-auto-flow: row;
}

.searched-server {
  width: 5rem;
  height: 7.5rem;

  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#browse-container,
#search-results-container {
  margin-bottom: 1.5rem;
}

.searched-server-pic {
  width: 4rem;
  border-radius: 10px;
}

.searched-join-server-button {
  background-color: #541554;
  color: white;
  border: none;
  border-radius: 50px;
  width: 6rem;
  height: 2.3rem;
}

.searched-leave-server-button {
  background-color: gray;
  color: white;
  border: none;
  border-radius: 50px;
  width: 6rem;
  height: 2.3rem;
}

#search-channel-results-container {
  width: 80%;
  margin-top: 1rem;

  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
  grid-auto-flow: row;
  place-items: center;
}

.searched-channel {
  width: 7rem;
  height: 4.5em;

  display: flex;
  gap: 5px;
  align-items: center;
  flex-direction: column;
}