.message-list-container {
    overflow-y: scroll;
    scrollbar-color: #1d1c1d #1d1c1d;
    height: 80vh;
}

.message-list {
    padding: 0;
    margin-bottom: 5rem;
}

#message-container {
    background-color: rgb(47, 46, 47);
    box-sizing: border-box;
    width: 100%;
}

.message-input {
    padding: 2rem;
    box-sizing: border-box;
    border: none;
    outline: none;
    background-color: transparent;
    width: 100%;
    font-size: 1.25rem;
}

.message-input-footer {
    background-color: rgb(47, 46, 47);
    position: fixed;
    box-sizing: border-box;
    left: 15.25rem;
    right: 0;
    bottom: 0;
    margin-right: 1.5rem;
    padding-right: 0;
}

.input-container {
    display: flex;
    background-color: #a2a0a0;
    border-radius: 0.25rem;
    margin: 1.5rem;
    margin-right: 1rem;
}

.input-container:focus-within {
    outline: 3px solid #1d1c1d ;
    /* border: 5px solid red ; */
}

.message-submit-button {
    background-color: transparent;
    border: none;
    padding: 1.5rem;
    font-size: 1.5rem;
}

.scroll-to {
    height: 0;
}
