.message-list-container {
    overflow-y: scroll;
    scrollbar-color: #1d1c1d #1d1c1d;
    /* height: 80vh; */
    /* padding-top: 3rem; */
}

#message-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 10fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.message-list {
    padding: 0;
}

#message-container {
    background-color: #272627;
    box-sizing: border-box;
    width: 100%;
}

.message-input {
    padding: 2rem;
    /* box-sizing: border-box; */
    border: none;
    outline: none;
    background-color: transparent;
    width: 100%;
    font-size: 1.25rem;
}

.message-input-footer {
    background-color: #272627;
    left: 18rem;
    right: 0;
    bottom: 0;
    margin: 1rem 1.5rem;
    /* padding-right: 0; */
}

.input-container {
    display: flex;
    background-color: #3d3c3d;
    border: 2px solid #4e4e4e;
    border-radius: 0.30rem;
    /* margin: 1.5rem; */
    margin-right: 1rem;
}

.input-container:focus-within {
    outline: 3px solid #1d1c1d;
    /* border: 5px solid red ; */
}

.message-submit-button {
    background-color: transparent;
    border: none;
    padding: 1.5rem;
    font-size: 1.5rem;
}

.scroll-to {
    height: 0;
}