/*
Hover color:  #252425
text color: #D1D2D3D3
border color: #3a3a3ad3
message-container bkc: #272627
*/

#serverList-container {
    background-color: #1d1c1d;
    min-height: 100vh;
}

#serverList {
    padding: 0 1rem;
}

.serverListItem {
    list-style: none;
}

#serverList-pfp {
    margin: .8rem 1rem;
}

#serverList-pfp-Container {
    border-bottom: 1px solid #3a3a3ad3;
}

#serverList-pfp:hover {
    cursor: pointer;
}

.serverListItem:hover {
    cursor: pointer;
}

#serverList-container > *>*>:hover{
    outline: 2px solid rgb(255, 255, 255);
}

#serverList-pfp:hover{
    outline: 2px solid rgb(255, 255, 255);
}

.serverListImg {
    width: 3rem;
    margin: .2rem 0;
    border-radius: 5px;
}

#userDropdown {
    color: white;

    position: absolute;
    top: 2.8rem;
    left: 1rem;
    border: 0px solid black;
    border-radius: 8px;
    padding: 15px;
    background-color: #2b292b;
    border: 1px solid #3a3a3ad3;
    z-index: 10;
}

#user-first-lastName,
#user-email {
    padding: 1rem 0; 
}

.userDropdown-li {
    list-style: none;
    border-top: 1px solid rgba(255, 255, 255, 0.25);
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

.pfpButton>button {
    border: none;
    background-color: transparent;
    color: white;
    padding: 1rem 0;
    width: 100%;
    text-align: left;
    height: 100%;
    box-sizing: border-box;
    margin: 0;
}

.pfpButton>button:hover {
    cursor: pointer;
    background-color: #484949d3;
    outline: none !important;
}

.hidden {
    display: none;
}

.selectedServer {
    outline: 2px solid gray;
}

.serverListItem[title]:hover::after {
    content: attr(title);
    position: absolute;
    left: 4rem;
    background-color: #1d1c1d;
    color: white;
    border-radius: 0.25rem;
}

#search-servers button {
    color: white;
    font-size: 1.5rem;
    border-radius: 0.25rem;
    background-color: transparent;
    border: none;
}
#search-servers i {
    padding: 0.5rem;
    border-radius: 0.25rem;
}