.home-page-container{
    display: flex;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.server-container {
    width: 5rem;
    height: 100%;
}

.channel-container {
    width: 15rem;
    height: 100%;
}

.message-container {
    width: 100%;
    height: 100%;
}